<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza App 🍕</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/pizzaCard.css" />
  </head>
  <body>
    <%-include("../partials/header.ejs")%>

    <div class="pizzaDiv">
      <%pizza.forEach((pizza)=>{%>
      <div class="pizzaCard">
        <div class="pizzaImgDiv">
          <img src="<%=pizza.image%>" alt="Pizza" class="pizzaImg" />
        </div>
        <p class="pizzaName"><%=pizza.name%></p>
        <h3 class="pizzaPrice">$<%=pizza.price%></h3>
        <p class="pizzaDescription"><%=pizza.description%></p>
        <div class="pizzaButtons">
          <a class="pizzaButtonLink" href="/<%=pizza.id%>/edit">Edit</a>
          <a class="pizzaButtonLink" href="/:<%=pizza.id%>">View</a>
        </div>
      </div>
      <%})%>
    </div>

    <%-include("../partials/footer.ejs")%>
  </body>
</html>
